doctype html
html(lang='en')
  head
    meta(charset='UTF-8')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
    meta(http-equiv='X-UA-Compatible', content='ie=edge')
    |     
    title Document
    |     
    link(rel='stylesheet', href='/css/style.css')
  body
    .detail
      h1 #{renderData.title}
      |         
      .info
        span #{renderData.type}
        |             
        span #{renderData.country}
        |             
        span #{renderData.addTime}
      |         
      .content
        | #{renderData.content}

    .back
        a(href="/") 回到首页

    
